name: Dependency update

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron:  '*/30 * * * *'

jobs:

  build:
    name: From Scratch Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: set remote url
        run: git remote set-url --push origin https://$GITHUB_ACTOR:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          check-latest: true
      - name: install npm-check-updates
        run: |
          npm install -g npm-check-updates
      - name: install dependencies
        run: |
          npm install
          ncu -u
      - name: package dependencies
        run: |
          cd dependencies
          npm install
          ncu -u
          npm run build:dev
          npm run build:prod
      - name: package platform
        run: |
          cd platform
          npm install
          ncu -u
          npm run build
      - name: create PR
        uses: repo-sync/pull-request@v2
        with:
          source_branch: ""
          destination_branch: "feature/automatic-dependencies-update"
          pr_title: "Dependency upgrade"
          pr_body: ":crown: *An automated PR*"
          pr_label: "auto-pr"
          pr_allow_empty: false
          github_token: ${{ secrets.GITHUB_TOKEN }}