name: Dependency update

on:
  schedule:
    - cron:  '*/30 * * * *'

jobs:

  build:
    name: Run npm check update and recompile dlls
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: main
      - name: set remote url
        run: git remote set-url --push origin https://$GITHUB_ACTOR:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          check-latest: true
      - name: install npm-check-updates
        run: |
          npm install -g npm-check-updates
      - name: install dependencies
        run: |
          npm install
          ncu -u
      - name: package dependencies
        run: |
          cd dependencies
          npm install
          ncu -u
          npm run build:dev
          npm run build:prod
      - name: package platform
        run: |
          cd platform
          npm install
          ncu -u
          npm run build
      - name: create PR
        uses: peter-evans/create-pull-request@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          delete-branch: true
          commit-message: Update dependencies and recompile dlls
          title: Update dependencies
          labels: |
            dependencies
          body: |
            Update report
            - Updated with *today's* date
            - Auto-generated by update workflow
          branch: update-dependencies
